# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/

# yarn stable
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions